{% extends 'base2.html' %}
{% block body %}
{% load static %}
<style>
	.page-banner {
  background: rgba(0, 0, 0, 0) url("{% static 'img/background/shop-banner.jpg' %}") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
}
</style>
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>All Sub-Category</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<div class="page-breadcrumb fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a href="">Home</a></li>
					<li><span>All Sub-Category</span></li>
                    <li style="float:right;"><a href="{% url 'add_subcat' %}"><button  class="btn btn-warning">Add subcategory</button></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- About Page Start -->
<div class="about-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table cart-table">
						<thead>
							<tr>
								<th class="width-1">S.no.</th>
								<th class="width-2">Sub-Category Name</th>
								<th class="width-6">Delete</th>

							</tr>
						</thead>
						<tbody>
							{% for i in allsubcat %}
							<tr class="carttr_1">

								<td >
									<div class="cartpage-pro-dec">
										<center><a href="">{{ forloop.counter }}</a></center>

									</div>
								</td>
								<td>
									<div class="cart-page-price">
										<h5>{{ i.name }}</h5>
									</div>
								</td>

								<td>
									<div class="cartpage-delete-item">
										<a title="Remove item" href="{% url 'delete_subcat' i.id %}"><i class="fa fa-trash-o"></i></a>
									</div>
								</td>

							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>
</div><!-- About Page End -->
{% endblock %}
